﻿<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    </head>
    <body>
        <header class="container">
            <nav role="navigation" class="navbar navbar-default">
                <ul class="nav navbar-nav">
                    <li><a href="~/admin/post">All Post</a></li>
                    <li><a href="~/admin/post/new">New Post</a></li>
                    <li><a href="~/admin/news">All News</a></li>
                    <li><a href="~/admin/news/new">New News</a></li>
                    <li><a href="~/index.cshtml">Website</a></li>
                </ul>
            </nav>
        </header>
        <div class="container">
            @RenderBody()
        </div>
    </body>
</html>
