﻿@{
    Page.Title = "Ray CMS";
    Layout = "~/admin/_AdminLayout.cshtml";

    var mode = News.mode;
    var slug = News.slug;
    var button_text = "Save";

    if(mode == "delete")
    {
        button_text = "Delete";
    }

}

@if (!mode.IsEmpty())
{
    var news = News.Current;

    <div>
        <form name="news" method="post" action="~/admin/news.ashx">
            <input type="hidden" name="mode" value="@mode" />
            <input type="hidden" name="newsId" value="@news.Id" />
            <div class="form-group">
                <label for="newsTitle">Title:</label>
                <input type="text" name="newsTitle" value="@news.Title" class="form-control" />
            </div>
            <div class="form-group">
                <label for="newsContent">Content:</label>
                <textarea name="newsContent" class="form-control" rows="5">@news.Content</textarea>
            </div>
            <div class="form-group">
                <label for="newsSlug">Slug:</label>
                <input type="text" name="newsSlug" value="@news.Slug" class="form-control" />
            </div>
            <div class="form-group">
                <label for="newsFeatureImage">Feature Image:</label>
                <input type="text" name="newsFeatureImage" value="@news.FeatureImage" class="form-control" />
            </div>
            <div class="form-group">
                <label for="newsFeatureImage">Date Published:</label>
                <input type="text" name="newsDatePublished" value="@news.DatePublished" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" name="newsSubmit" value="@button_text" class="btn btn-primary" />
            </div>
        </form>
    </div>
}
else
{
    var grid = new WebGrid(source: NewsRepository.GetAll(orderBy: "DateCreated DESC"),
        rowsPerPage: 30);

    @grid.GetHtml(
            tableStyle: "table table-striped table-bordered table-hover",
            columns: grid.Columns(
                grid.Column("Title"),
                grid.Column("DateCreated", header: "Date Created"),
                grid.Column("DatePublished", header: "Published"),
                grid.Column("AuthorId", header: "Author"),
                grid.Column(format: @<a href="~/admin/news/edit/@item.slug" class="btn btn-primary">Edit</a>),
                grid.Column(format: @<a href="~/admin/news/delete/@item.slug" class="btn btn-primary">Delete</a>)
            )
       );
}


