﻿@{
    Page.Title = "Ray CMS";
    Layout = "~/admin/_AdminLayout.cshtml";

    var mode = Post.mode;
    var slug = Post.slug;
    var button_text = "Save";

    if(mode == "delete")
    {
        button_text = "Delete";
    }

}

@if (!mode.IsEmpty())
{
    var post = Post.Current;

    <div>
        <form name="post" method="post" action="~/admin/post.ashx">
            <input type="hidden" name="mode" value="@mode" />
            <input type="hidden" name="postId" value="@post.Id" />
            <div class="form-group">
                <label for="postTitle">Title:</label>
                <input type="text" name="postTitle" value="@post.Title" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="postContent">Content:</label>
                <textarea name="postContent" class="form-control" rows="5">@post.Content</textarea>
            </div>
            <div class="form-group">
                <label for="postSlug">Slug:</label>
                <input type="text" name="postSlug" value="@post.Slug" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="postDatePublished">Date Published:</label>
                <input type="text" name="postDatePublished" value="@post.DatePublished" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="submit" name="postSubmit" value="@button_text" class="btn btn-primary"/>
            </div>
        </form>
    </div>
}
else
{
    var grid = new WebGrid(source: PostRepository.GetAll(orderBy: "DateCreated DESC"),
        rowsPerPage: 30);

    @grid.GetHtml(
            tableStyle: "table table-striped table-bordered table-hover",
            columns: grid.Columns(
                grid.Column("Title"),
                grid.Column("DateCreated", header: "Date Created"),
                grid.Column("DatePublished", header: "Published"),
                grid.Column("AuthorId", header: "Author"),
                grid.Column(format: @<a href="~/admin/post/edit/@item.slug" class="btn btn-primary">Edit</a>),
                grid.Column(format: @<a href="~/admin/post/delete/@item.slug" class="btn btn-primary">Delete</a>)


            )
       );
}


