﻿@{
    var hero = PostRepository.Get(6);
    var sidebar = PostRepository.Get(7);

    var column_1 = PostRepository.Get(8);
    var column_2 = PostRepository.Get(9);
    var column_3 = PostRepository.Get(10);
    var column_4 = PostRepository.Get(11);

    var news = NewsRepository.GetAll();
}
<!DOCTYPE html>
<html>
<head>
    <title>LPC Group - Home</title>
    <meta name"description" content="LPC Group is the UK's No.1 private lable household paper manufacturer">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id="main">
        <div class="header">
            <nav role="navigation">
                <ul>
                    <li>
                        <a href="#" class="active">Home</a>
                    </li>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <a href="#">LPC Group</a>
                    </li>
                    <li>
                        <a href="#">Products</a>
                    </li>
                    <li>
                        <a href="#">Enviroment</a>
                    </li>
                    <li>
                        <a href="#">Vacancies</a>
                    </li>
                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                </ul>
            </nav>
            <div class="login_form">
                <form method="post" action="~/admin/post">
                    <!-- client login -->
                    <fieldset>
                        <legend>Client Login</legend>
                        <input type="email" placeholder="Email address" class="input" required>
                        <input type="password" placeholder="Password" class="input" required>
                        <input type="submit" value="" class="sub_button">
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="hero_section">
            <div class="hero">
                <h1 class="h1">@hero.Title</h1>
                <p class="leed">@hero.Content</p>
                <a href="admin/post/edit/@hero.Slug" class="click_link">Click for more information</a>
            </div>
            <div class="sidebar">
                <div>
                    <h2 class="highlight title">@sidebar.Title</h2>
                    <p class="highlight text">@sidebar.Content</p>
                    <a href="admin/post/edit/@sidebar.Slug" class="highlight green_link">Click for more information</a>
                </div>
            </div>
        </div>
        <div class="main_section">
            <div class="col_1">
                <h2>@column_1.Title</h2>
                <p>@column_1.Content</p>
            </div>
            <div class="col_2">
                <!--<h2>Product lnnovation</h2>-->
                <h2>@column_2.Title</h2>
                <p class="highlight">@column_2.Content</p>
                <a href="admin/post/edit/@column_2.Slug" class="click_link">Click for more information</a>
            </div>
            <div class="col_3">
                <h2>@column_3.Title</h2>
                <p class="highlight">@column_3.Content</p>
                <a href="admin/post/edit/@column_3.Slug" class="click_link">Click for more information</a>
            </div>
            <div class="col_4">
                <h2 class="highlight title">@column_4.Title</h2>
                <ol class="news">
                    @foreach (var item in news)
                    {
                        <li class="news-item">
                            <a href="1#">
                                <img src="@((String.IsNullOrWhiteSpace(item.FeatureImage)) ? "images/news-item-1.gif" : item.FeatureImage)">
                                <span>@item.Title</span>
                            </a>
                        </li>
                    }
                    <!--<li class="news-item">
                        <a href="1#">
                            <img src="images/news-item-1.gif">
                            <span>Lorem ipsum dolor consectetuer ad</span>
                        </a>
                    </li>
                    <li class="news-item">
                        <a href="2#">
                            <img src="images/news-item-2.gif">
                            <span>Lorem ipsum dolor consectetuer ad</span>
                        </a>
                    </li>
                    <li class="news-item">
                        <a href="3#">
                            <img src="images/news-item-3.gif">
                            <span>Lorem ipsum dolor consectetuer ad</span>
                        </a>
                    </li>-->
                </ol>
            </div>
        </div>
        <div class="footer">
            <small class="copy_right">&copy; Copyright LPC Group 2008.</small>
            <ul class="footer_links">
                <li>
                    <a href="#" class="footer_link footer_link_feature">Disclaimer</a>
                </li>
                <li>
                    <a href="#" class="footer_link footer_link_feature">Site Map</a>
                </li>
                <li>
                    <a href="http://www.vertouk.com/" class="footer_link">Site by Verto</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>