.footer {
	height: 41px;
	line-height: 31px;
	background: url('../images/footer.jpg') no-repeat;
}
.footer_links {
	font-size: 12px;
	display: inline-block;
	margin: 0;
	padding: 0;
}
.footer_links li {
	display: inline-block;
}
.footer .copy_right {
	padding: 0 15px;
}