body {
	margin:0;
	font-family: arial,sans-serif;
	font-size: 13px;
	line-height: 17px;
	color: #3f3f3f;
}
#main {
	width: 900px;
	margin: 0 auto;
}
h2 {
	font-size: 18px;
	margin: 0;
}
.highlight {
	color: white;
}