.header {
	height: 116px;
	background: url('../images/header.jpg') no-repeat;
}
.header nav {
	float:right;
}

.header nav ul li {
	display:inline-block;
	padding: 0 21px;
}
.header nav ul li a {
	text-decoration:none;
	color: #fff;
	position: relative;
}
.header nav ul li a:before {
	content : '';
	width: 14px;
	height: 14px;
	background: #ff7f00 url('../images/red_btn.gif') no-repeat;
	position: absolute;
	left: -20px;
	border-radius: 100%;
}
.header nav ul li a.active:before{
	background: #3f3f3f url('../images/black_btn.jpg') no-repeat;
}

.header .login_form {
	float: right;
	margin-top:20px;
	background: #ff7f00;
	height: 30px;
	width: 438px;
	position: relative;
	border-radius: 8px / 15px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}  

.header .login_form fieldset {
	padding:0;
	border: 0;
	margin: 0;
}
.header .login_form legend {
	padding: 0;
	float: left;
	line-height: 31px;
	color: #ffffff;
	font-family: arial,sans-serif;
	font-size: 12px;
	width: 107px;
	text-align: center;
}
.header .login_form .sub_button {
	background: url('../images/sub_button.jpg') no-repeat;
	width: 28px;
	height: 30px;
	border: 0;
	padding: 0;
	vertical-align: middle;
}
.header .login_form .input {
	margin: 2px;
	width: 132px;
	height: 13px;
	font-size: 12px;
	padding-left: 5px;
}