.main_section {
	height: 223px;
	margin-bottom: 17px;
	background-image: url('../images/gradient-bg.jpg');
}
.main_section .col_1,
.main_section .col_2,
.main_section .col_3,
.main_section .col_4 {
	float: left;
	min-width: 169px;
	min-height: 211px;
	margin: 0 8px;
	padding: 12px 18px 0 18px;
	position: relative;
}
.main_section .col_2 p,
.main_section .col_3 p,
.main_section .col_4 p {
	max-width: 169px;
}
.main_section .col_2 p,
.main_section .col_3 p {
	position: absolute;
	bottom: 30px;
}
.main_section .col_1 {
	width: 204px;
	margin-left: 0;
}
.main_section .col_2 {
	background: url('../images/col-2-bg.jpg') no-repeat;
}
.main_section .col_3 {
	background: url('../images/col-3-bg.jpg');
}
.main_section .col_4 {
	background-color: #bebebe;
	margin-right: 0;
	padding: 12px 7px 0 7px;
}
.main_section .col_4 .title {
	font-size: 22px;
	margin: 0 0 8px 5px;
}
.main_section .col_4 .news {
	padding: 0;
	margin: 0;
	width: 188px;
}
.main_section .col_4 .news-item {
	display: block;
	background: url('../images/news-item-bg.gif') no-repeat;
	clear: both;
	min-height: 49px;
	margin-bottom: 12px;
}
.main_section .col_4 .news-item a {
	color: #3f3f3f;
	text-decoration: none;
	display: block;
	height: 49px;
}
.main_section .col_4 .news-item img {
	padding: 4px;
	float: left;
}
.main_section .col_4 .news-item span {
	padding-top: 8px;
	display: block;
	max-width: 165px;
}