.hero_section {
	height: 299px;
	margin-bottom: 17px;
}
.hero_section .hero {
	float: left;
	width: 681px;
	height: 299px;
	background: url('../images/hero.jpg') no-repeat;
	position: relative;
}
.hero_section .sidebar {
	float:left;
	margin-left:17px;
	width: 202px;
	height: 299px;
	background: url('../images/sidebar.jpg') no-repeat;
	position: relative;
}
.hero_section .sidebar .title {
	padding-left: 42px;
	font-size: 16px;
	line-height: 32px;
	background: url('../images/recycle-icon.gif') no-repeat;
}
.hero_section .sidebar .text {
	margin: 3px 0;
}
.hero_section .sidebar div {
	margin: 175px auto;
	width: 177px;
}
.hero_section .hero .h1{
	width: 335px;
	float: right;
	color: #ff7f00;
	font-weight: normal;
	line-height: 47px;
	font-size: 32px;
}
.hero_section .hero .leed{
	float: right;
	clear: both;
	max-width: 325px;
	line-height: 1.6;
	font-size: 13px;
	margin: 3px 10px;
}
.hero_section .hero	a{
float: right;
clear: both;width: 310px;}
