.click_link {
	height: 24px;
	min-width: 160px;
	line-height: 24px;
	display: block;
	color: #fff;
	font-style: normal;
	text-decoration: none;
	position: absolute;
	right: 0;
	bottom: 12px;
	background: #ff7f00 url("../images/link-end.png") no-repeat;
	padding-left: 30px;
	font-size: 12px;
	border-radius: 7px 0 0 7px / 12px 0 0 12px;
}
.green_link{
	background: #4dac27;
	background-image: url("../images/green-link.png"); /* fallback to solid green with red dot */
	background-image: url("../images/green-link.png"), -moz-linear-gradient(left,  #4dac27 0%, #87c71a 100%);
	background-image: url("../images/green-link.png"), -webkit-linear-gradient(left,  #4DAC28 0%,#87c71a 100%);
	background-image: url("../images/green-link.png"), linear-gradient(to right,  #4dac27 0%,#87c71a 100%);
	background-repeat: no-repeat;
	height: 24px;
	min-width: 160px;
	line-height: 24px;
	display: block;
	color: #fff;
	font-style: normal;
	text-decoration: none;
	position: absolute;
	right: 0;
	bottom: 12px;
	padding-left: 30px;
	font-size: 12px;
	border-radius: 7px 0 0 7px / 12px 0 0 12px;
}
.footer_link {
	text-decoration: none;
	padding: 2px 15px;
	font-size: 11px;
	position: relative;
	color: #3f3f3f;
}
.footer_link_feature {
	color: #ff7f00;
	position: relative;
}
.footer_link:before {
	content : '';
	width: 14px;
	height: 14px;
	background: #3f3f3f url('../images/black_btn.jpg') no-repeat;
	position: absolute;
	left: -2px;
	bottom: 0;
	border-radius: 100%;
}
.footer_link_feature:before {
	background: #ff7f00 url('../images/red_btn.gif') no-repeat;
}